@model ConlangWeb.Models.Word

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Word</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dutch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dutch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Con)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
